<h1><%= @menu.title %></h1>
<p>Menu description: <%= @menu.description %></p><br>

<div class="chef-menu-options">
  <%= link_to "Edit Menu", edit_menu_path(@menu) %>
  <%= link_to "Delete Menu", menu_path(@menu), :method => :delete, data: {confirm: "Are you sure you want to delete this Menu?"} %>
</div>

<% if @menu.menu_items.length > 0 %>
      <% if @errors %>
        <%= render partial: "partials/errors", locals: { errors: @errors } %>
      <% end %>
  <% @menu.sorted_menu.each do |category, dishes| %>
    <p>Category: <%= category.capitalize %></p>
    <% dishes.each do |dish| %>
      <ul>
        <li>
          <%= form_for dish, {action: "update"} do |f| %>

          <i>Dish: <%= dish.recipe.name %><br><br></i> Price: <%= f.number_field :price, placeholder: dish.price %><br><br>

          Description: <%= f.text_area :description, value: dish.description %>
          <%= f.hidden_field :menu_id, value: @menu.id %>
          <%= f.hidden_field :recipe_id, value: dish.recipe.id %>
          <%= f.submit "Update Dish" %><br><br>
          <%= link_to "Delete Dish", menu_item_path(dish), :method => :delete %>
          <% end %>
        </li><br>
      </ul>
    <% end %>
  <% end %>
<% end %>


