<h1>All Recipes</h1>

 <% flash.each do |key, value| %>
        <div><%= value %></div>
  <% end %>

<%= form_tag(recipes_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<ul id="recipe-list">
  <% @recipes.each do |recipe| %>
    <li>
      <%= form_for ([@menu_item]), {action: "create"} do |f| %>
        <%= link_to recipe.name, recipe_path(recipe), :method => :get %>
        <%= f.hidden_field :recipe_id, value: recipe.id %>
        <%= collection_select(:menu_item, :menu_id, Menu.all, :id, :title, prompt: true )  %>
        <%= f.submit "Submit" %>
        <% end %>
    </li>

  <% end %>
</ul>




