
<%= form_for ([@user, @recipe]), {action: "create"} do |f| %>
<fieldset>
  <legend>New Recipe</legend>
  <h4>Add recipe details</h4>
  <%= f.text_field :name, placeholder: "Recipe Name" %>
  <%= f.text_area :description, placeholder: "Description" %>
  <%= f.text_area :directions, placeholder: "Directions" %>
  <%= f.number_field :prep_time, placeholder: "Prep time (in minutes)" %>
  <h4>Add ingredients</h4>
    <%= fields_for :ingredients do |i| %>
      <p><%= i.text_field :name, placeholder: "Ingredient name" %>
        <%= i.number_field :amount, placeholder: "Amount" %>
        <%= i.select :from, [ 'Cup','Tbsp','tsp' ], :prompt => 'Select One' %>
      </p>
      <p><%= i.text_field :name, placeholder: "Ingredient name" %>
        <%= i.number_field :amount, placeholder: "Amount" %>
        <%= i.select :from, [ 'Cup','Tbsp','tsp' ], :prompt => 'Select One' %>
      </p>
      <p><%= i.text_field :name, placeholder: "Ingredient name" %>
        <%= i.number_field :amount, placeholder: "Amount" %>
        <%= i.select :from, [ 'Cup','Tbsp','tsp' ], :prompt => 'Select One' %>
      </p>
      <p><%= i.text_field :name, placeholder: "Ingredient name" %>
        <%= i.number_field :amount, placeholder: "Amount" %>
        <%= i.select :from, [ 'Cup','Tbsp','tsp' ], :prompt => 'Select One' %>
      </p>
      <p><%= i.text_field :name, placeholder: "Ingredient name" %>
        <%= i.number_field :amount, placeholder: "Amount" %>
        <%= i.select :from, [ 'Cup','Tbsp','tsp' ], :prompt => 'Select One' %>
      </p>
  <%= f.submit "Create" %>
  <%end %>
</fieldset>
<% end %>
