
<% if @errors %>
  <%= render partial: "partials/errors", locals: { errors: @errors } %>
<% end %>

<%= form_for ([@user, @recipe]), {action: "create"} do |f| %>
<fieldset>
  <legend>New Recipe</legend>
  <h4>Add recipe details</h4>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_field :name, placeholder: "Recipe Name" %>
  <%= f.text_area :description, placeholder: "Description" %>
  <%= f.text_area :directions, placeholder: "Directions" %>
  <%= f.number_field :prep_time, placeholder: "Prep time (in minutes)" %>
  <%= collection_select(:recipe, :category_id, Category.all, :id, :title, prompt: true) %>

  <% if @ingredients %>
    <h4>Saved ingredients</h4>
      <% @ingredients.each do |ingredient| %>
        <p><%= ingredient.name %>: <%=ingredient.amount %></p>
      <% end %>
  <% end %>

  <h4>Add ingredients</h4>
  <div class="ingredient-form">
    <%= render partial: "partials/new_ingredients", locals: { user: @user, recipe: @recipe } %>
  </div>

  <div class="ingredient-form">
    <%= render partial: "partials/new_ingredients", locals: { user: @user, recipe: @recipe } %>
  </div>

  <div class="ingredient-form">
    <%= render partial: "partials/new_ingredients", locals: { user: @user, recipe: @recipe } %>
  </div>


  <%= f.submit "Create" %>
</fieldset>
<% end %>
