<h1><%= current_user.username %></h1>
  <% if !current_user.is_admin %>
    <h2>Your Recipes</h2>
    <% current_user.recipes.each do |recipe| %>
      <div class="user-recipe-list">
        <ul>
          <li><%= link_to "#{recipe.name}", recipe_path(recipe), :method => :get %></li>
        </ul>
      </div>
    <% end %>

    <span><%= link_to "Create New Recipe", new_recipe_path, :method => :get %></span>

  <% else %>
    <h2>Your Menus</h2>
    <% current_user.menus.each do |menu| %>
      <div class="chef-menus-list">
        <ul>
          <li><%= link_to "#{menu.title}", menu_path(menu), :method => :get %>
        </ul>
      </div>
    <% end %>

    <span><%= link_to "New Menu", new_menu_path, :method => :get %></span>

  <% end %>
