<h1><%= current_user.username %></h1>
  <% if !current_user.is_admin %>
    <h2>Your Recipes</h2>
    <% current_user.recipes.each do |recipe| %>
      <div class="user-recipes-info">
        <ul>
          <li><%= link_to "#{recipe.name}", recipe_path(recipe), :method => :get %></li>
        </ul>
    <% end %>

        <span><%= link_to "Create New Recipe", new_user_recipe_path, :method => :get %></span>
      </div>

  <% else %>
    <h2>Your Menus</h2>
    <% current_user.menus.each do |menu| %>
      <div class="chef-menus-info">
        <ul>
          <li><%= link_to "#{menu.title}", menu_path(menu), :method => :get %></li>
        </ul>
    <% end %>

        <span><%= link_to "New Menu", new_user_menu_path, :method => :get %></span>
      </div>

  <% end %>
