<!DOCTYPE html>
<html>
<head>
  <title>Bistro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if logged_in? && current_user.is_admin %>
      <%= link_to current_user.username, user_path(current_user), :method => :get %>
      <%= link_to "recipes", recipes_path, :method => :get %>
      <%= link_to "logout", session_path(session[:user_id]), :method => :delete %>
    <% elsif logged_in? %>
      <%= link_to current_user.username, user_path(current_user), :method => :get %>
      <%= link_to "logout", session_path(session[:user_id]), :method => :delete %>
    <% else %>
      <%= link_to "register", new_user_path, :method => :get %>
      <%= link_to "login", new_session_path, :method => :get %>
    <% end %>
  </nav>
<%= yield %>

</body>
</html>
